<!doctype html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_webpage.css') }}">
    </head>
    <body>
                
            
     {% if likes_same_sport == True %}
     <div style="background-color:red" align="center">
     <h1> soccer!</h1>
       <p>soccer is the best because you can play it in so many places</p>
       <p> My favorite players are are: </p>
       <h2> Players </h2>
          
         {% for player in players %}
         <p> {{player}} </p>
         
         {% endfor %}
         
          </div>
           {% else %}
          <h1> soccer!</h1>
       <p>soccer is the best because you can play it in so many places</p>
        {% endif %}

     <img src="{{ url_for('static', filename='soccer_staduim.jpg') }}" width="500" height="333">
         </body>
    </html>
